@{
    ViewData["Title"] = "Рейтинг";
}

<div class="text-center">
    <h1 class="display-5 mb-3 group">Заезд группы</h1>
    <table class="table" style="font-size: 10px">
        <thead>
            <tr>
                <th>Место</th>
                <th>Номер участника</th>
                <th>Имя участника</th>
                <th>Середина круга</th>
                <th>Общ. время круга</th>
            </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
</div>
<script>let ajaxUrl = "/racers"</script>